.App {
  text-align: center;
}

.section {
  width: 100%;
  background: #173f4f;
  height: 780px;
}

.navbar {
  background-color: #173f4f;
}

.navbar-brand {
  color: #ffffff;
}

/* header {
  background-color: #173f4f;
  color: beige;
  padding-top: 20px;
  padding-bottom: 20px;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
